<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DispatcherService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DispatcherService.Properties.Settings>
            <setting name="DBPath" serializeAs="String">
                <value>d:\prog\dispatcher\dispatcher.fdb</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>sysdba</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>masterkey</value>
            </setting>
            <setting name="MinutesToSign" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SecondsToRefresh" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="LastUserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DaysOld" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Unit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PointId" serializeAs="String">
                <value>0</value>
            </setting>
        </DispatcherService.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
